{% load widget_tweaks %} {% block content %}

<div class="col">
    <!-- TODO: add proposed time field and showing -->
    <!-- TODO: check and fix time edition -->
    <form method="post">
        <p4 class="text-sm-left text-monospace">{{event.start_date|date:"G:i"}}</p4>

        {% for blog in blogs %}
            {% if blog in event.blogs %}
                    <img src="{{BLOGS_MEDIA_LOCATION}}/{{blog.blog_id}}/{{blog.avatar}}"
                         onclick="document.forms['event_add_blog_form'].submit();"
                         class="img-fluid" style="height: 25px; object-fit: contain;" alt="">
            {% else %}
                    <img src="{{BLOGS_MEDIA_LOCATION}}/{{blog.blog_id}}/{{blog.avatar}}" id="blog_avatar"
                         onclick="document.forms['event_add_blog_form'].submit();" class="img-fluid"
                         style="height: 25px; object-fit: contain; opacity:0.5;" alt="">
            {% endif %}
        {% endfor %}


        <div class="row float-right">
            {% if event_editform != None %}
                {% render_field event_editform.start_date class="form-control-sm" type="datetime-local" %}
                {{ event_editform.start_date.errors }}
            {% endif %}
            <button class="btn btn-primary btn-sm" type="submit" name="action" value="edit_event">edit</button>

            {% block post_delete_button %}
            {% include 'post/post_delete_button.html' %}
            {% endblock %}
        </div>
    </form>
    {% block post_info %}
    {% include 'post/post_info.html' %}
    {% endblock %}
</div>

{% endblock content %}