/venv/
/shelf/
/workspace.xml
/.idea/workspace.xml
/credentials.py
/media/photo_and_video_storage/
/static/admin/
/static/rest_framework/
/db.sqlite3
/account/migrations
/workspace_editor/migrations
/.idea/shelf/Changes.xml
/.idea/shelf/Changes1.xml
/.idea/shelf/Changes1/favicon.ico
/.idea/shelf/Changes1/fontawesome-webfont.eot
/.idea/shelf/Changes1/fontawesome-webfont.ttf
/.idea/shelf/Changes1/fontawesome-webfont.woff
/.idea/shelf/Changes1/glyphicons-halflings.png
/.idea/shelf/Changes1/glyphicons-halflings-regular.eot
/.idea/shelf/Changes1/glyphicons-halflings-regular.ttf
/.idea/shelf/Changes1/glyphicons-halflings-regular.woff
/.idea/shelf/Changes1/glyphicons-halflings-regular.woff2
/.idea/shelf/Changes1/glyphicons-halflings-white.png
/.idea/shelf/Changes1/grid.png
/.idea/shelf/Changes1/grid1.png
/.idea/shelf/Changes1/Roboto-Bold-webfont.woff
/.idea/shelf/Changes1/Roboto-Light-webfont.woff
/.idea/shelf/Changes1/Roboto-Regular-webfont.woff
/.idea/shelf/Changes/shelved.patch
/.idea/shelf/Changes1/shelved.patch
/static_cdn/admin/js/calendar.js
/static_cdn/admin/js/admin/DateTimeShortcuts.js
/static_cdn/admin/css/responsive.css
/db.sclite3
/sqlite3.db
/sqlite3.db
