/out/production/UCAH-Manager/__init__.py
/out/test/UCAH-Manager/__init__.py
/out/production/UCAH-Manager/asgi.py
/out/production/UCAH-Manager/models.py
/out/production/UCAH-Manager/settings.py
/out/test/UCAH-Manager/test_db_preliminary.py
/out/production/UCAH-Manager/urls.py
/out/production/UCAH-Manager/utils.py
/out/production/UCAH-Manager/wsgi.py
/venv/
/shelf/
/workspace.xml
/.idea/workspace.xml
/loader/credentials.py
/photo_and_video_storage/
/loader/loader/credentials.py
/db.sqlite3
