{% extends 'base.html' %}

{% block content %}

    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
            <div class="col-md-8 col-lg-6">
                <div class="login d-flex align-items-center py-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9 col-lg-8 mx-auto">
                                <h1 class="login-heading mb-4">Unified Cross-posting and Aggregation Manager</h1>
                                <h3 class="login-heading mb-4">Password changed</h3>
                                <p>
                                    Your password has been successfully changed. You can now log in.
                                </p>
                                <a href="{% url 'login' %}"
                                   class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2">Log
                                    In</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}