{% extends 'base.html' %} {% load widget_tweaks %} {% block content %}
{% load static %}

<style>
.hr {
  margin-top: 0;
  padding-top: 0;
}
</style>


<div class="container-fluid">
    {% block top_menu %}
    {% include 'blogs/blogs_top_panel.html' %}
    {% endblock %}
    
    <hr class="hr">
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Name</th>
                <th scope="col">Resource</th>
                <th scope="col">Account</th>
                <th scope="col">Workspace</th>
                <th scope="col">Settings</th>
            </tr>
        </thead>
        <tbody>
        {% for blog in blogs %}
            <tr>
                <td>
                    <a type="button" class="btn btn-sm btn-danger"
                       href="{% url 'blog_delete' workspace_id=workspace.workspace_id blog_id=blog.blog_id %}">Put away</a>
                    <script>
                        {% if "delete" in request.path %}
                            $(function() {
                                $('#blog_delete_modal').modal({show: true});
                            });
                        {% endif %}
                    </script>
                </td>
                <td>
                    <img src="{{BLOGS_MEDIA_LOCATION}}/{{blog.blog_id}}/{{blog.avatar}}" class="img-fluid" style="height: 30px; object-fit: contain;" alt="">
                    {{blog.name}}
                </td>
                <td>{{blog.resource}}</td>
                <td scope="col">
                    <img src="{{MEDIA_LOCATION}}/{{blog.resource_account.avatar}}" class="img-fluid" style="height: 30px; object-fit: contain;" alt="">
                    {{blog.resource_account.name}}
                </td>
                <td scope="col">{{blog.workspace.name}}</td>
                <td>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% block blog_modals %}
    {% include 'blogs/blog_modals.html' %}
    {% endblock %}

</div>

{% endblock content %}
