{% load widget_tweaks %} {% block content %}

{% if "downloading" in request.path %}
    <a type="button" class="btn btn-sm btn-outline-dark" href="{% url 'downloading_workspace_by_id_post_edit_by_id' workspace_id=workspace.workspace_id post_id=post.id %}">Edit</a>
{% else %}
    <a type="button" class="btn btn-sm btn-outline-dark" href="{% url 'workspace_by_id_post_edit_by_id' workspace_id=workspace.workspace_id post_id=post.id %}">Edit</a>
{% endif %}


{% block post_modals %}
{% include 'post/post_modals.html' %}
{% endblock %}


<script>
    {% if "post_edit" in request.path %}
        $(function() {
            $('#edit_post_modal').modal({show: true});
        });
    {% endif %}
</script>




{% endblock content %}