{% load widget_tweaks %} {% block content %}
{% load static %}

<style>
  .logo {
    padding: 10px;
  }

  .center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
</style>


<div class="row logo">
  <div class="col-md-11 col-lg-11">
    <div>
      <img src="{% static 'GUI_images/LOGO.png' %}"   class="img-fluid" style="height: 40px; object-fit: contain;">
    </div>
  </div>

  <div class="col-md-1 col-lg-1">
    <div class="container center">
      <button type="button" class="btn-sm btn-outline-dark">
        <a href="{% url 'workspace_by_id' workspace_id=workspace.workspace_id %}">Back</a>
      </button>
    </div>
  </div>
</div>
{% endblock content %}