{% extends 'base.html' %} {% load widget_tweaks %} {% block content %}
{% load static %}

<style>
.hr {
  margin-top: 0;
  padding-top: 0;
}
</style>

<html>
<head>
    <title>UCA Manager</title>
</head>
<body>
<div class="container-fluid">
    {% block top_menu %}
    {% include 'top_panel.html' %}
    {% endblock %}
    <hr class="hr">
    <div class="row">
        <div class="col-5 col-lg-4" id="containerForSlideMenu">
            {% block left_menu %}
            {% include 'downloading_left_panel.html' %}
            {% endblock %}
        </div>
        <div class="col-7 col-lg-8">
            {% for holder, posts in holder_to_posts.items %}
                {% block schedules %}
                {% include 'holder/holder_panel.html' %}
                {% endblock %}
            {% endfor %}

            <div class="card">
                <a type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#new_holder_modal"> + Add new compilation + </a>
            </div>
        </div>
    </div>

</div>
</body>
</html>

{% endblock content %}
