{% load widget_tweaks %} {% block content %}


<div class="modal fade" id="new_compilation_modal" tabindex="-1" role="dialog" aria-labelledby="new_compilation_modal_label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Create new compilation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form enctype="multipart/form-data" method="post">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-md-8 mx-auto">
                            <label for="name">Name:</label>
                            {% render_field compilation_create_form.name class="form-control" value="No named compilation" %}
                            {{ post_create_form.name.errors }}
                        </div>
                    </div>
<!--                    <div class="form-row">-->
<!--                        <div class="col-md-6">-->
<!--                            <label for="whitelisted_blogs">White list of blogs:</label>-->
<!--                            {% render_field compilation_create_form.whitelisted_blogs class="form-control" %}-->
<!--                            {{ post_create_form.whitelisted_blogs.errors }}-->
<!--                        </div>-->
<!--                        <div class="col-md-6">-->
<!--                            <label for="blacklisted_blogs">Black list of blogs:</label>-->
<!--                            {% render_field compilation_create_form.blacklisted_blogs class="form-control" %}-->
<!--                            {{ post_create_form.blacklisted_blogs.errors }}-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="form-row">-->
<!--                        <div class="col-md-6">-->
<!--                            <label for="whitelisted_tags">White list of tags:</label>-->
<!--                            {% render_field compilation_create_form.whitelisted_tags class="form-control" %}-->
<!--                            {{ post_create_form.whitelisted_tags.errors }}-->
<!--                        </div>-->
<!--                        <div class="col-md-6">-->
<!--                            <label for="blacklisted_tags">White list of tags:</label>-->
<!--                            {% render_field compilation_create_form.blacklisted_tags class="form-control" %}-->
<!--                            {{ post_create_form.blacklisted_tags.errors }}-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="form-row">
                        <div class="col-md-6">
                            <label for="resources">Resource:</label>
                            {% render_field compilation_create_form.resources class="form-control" %}
                            {{ post_create_form.resources.errors }}
                        </div>
                    </div>
                    <div class="form-row">
                        <label for="description">Description:</label>
                        {% render_field compilation_create_form.description class="form-control" %}
                        {{ post_create_form.description.errors }}
                    </div>

                    <hr>

                    <div class="float-right">
                        <button class="btn btn-primary " type="submit" name="action" value="create_compilation">Create new compilation</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>






{% endblock content %}