{% extends 'base.html' %} {% load widget_tweaks %} {% block content %}

<style>
  .center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

 .workspace_button {
    width: 145px;
  }

  .post_counter {
    width: 50px;
    margin: auto;
    margin-left: 25px;
    margin-right: 5px;
    border: 3px solid #73AD21;
  }

  .post_counter_text {
    width: 100px;
    margin: auto;
    margin-left: 5px;
    border: 3px solid #73AD21;
  }

  .form_group {
    margin-top: 15px;
    margin-bottom: 15px;
  }

</style>




<form method="post"> {% csrf_token %}

  <div class="container">
      <div class="row form_group">

        <div class="col-md-6 col-lg-6">
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-outline-dark workspace_button dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Workspaces
            </button>
            <div class="dropdown-menu">

              {% for ws in my_workspaces %}
                <li class="dropdown-item">
                    {{ ws.name }}
                    {% if selected_workspace_id != ws.workspace_id %}
                      <a type="button" class="btn btn-sm btn-primary float-right" href="{% url 'workspace_by_id' workspace_id=ws.workspace_id %}">Show</a>
                    {% endif %}
                </li>
              {% endfor %}

              <li class="dropdown-item">
                <a type="button" class="btn btn-primary" data-toggle="modal" data-target="#new_workspace_modal">Create new</a>
              </li>
            </div>

            <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#edit_workspace_modal">
              <a href="#">Edit</a>
            </button>
          </div>
        </div>

        <div class="col-md-5 col-lg-5">
          <div class="btn-group row" role="group">
            <button type="button" disabled class="btn btn-outline-dark">
              <a href="#">Rules</a>
            </button>
            <button class="btn btn-primary" type="submit" name="action" value="add_all_posts"><< Add all</button>
          </div>
        </div>

      </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-6">
        <div class="btn-group" role="group">
          <div class="btn-group-vertical">
            <a type="button" class="btn btn-sm btn-outline-dark float-right" href="{% url 'workspace_by_id' workspace_id=workspace.workspace_id %}">Scheduling</a>
            <a type="button" class="btn btn-sm btn-primary float-right">Downloading</a>
            <a type="button" class="btn btn-sm btn-outline-dark float-right" href="#">Pipelines</a>
          </div>
        </div>
        {% if workspace is None %}
          <a type="button" class="btn btn-outline-dark disabled" data-toggle="modal" data-target="#new_post_modal">New post</a>
        {% else %}
          <a type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#new_post_modal">New post</a>
        {% endif %}
      </div>

      <button type="button" disabled class="btn btn-outline-dark">
        <a href="#">Filters</a>
      </button>

      <div class="row">
        <container class="border post_counter border-dark">
          {{ main_compilation|length }}
        </container>
        <container class="border post_counter_text border-dark">
          post(-s) in compilation
        </container>
      </div>
    </div>
  </div>
</form>

{% block main_compilation %}
{% include 'workspace_left_panel_main_compilation.html' %}
{% endblock %}

{% block workspace_modals %}
{% include 'workspace_workspace_modals.html' %}
{% endblock %}

{% block post_modals %}
{% include 'post_modals.html' %}
{% endblock %}


{% endblock content %}



<!--    <div class="tab-pane fade" id="compilations" role="tabpanel" aria-labelledby="compilations-tab">-->
<!--      <div class="row">-->
<!--        <div class="col">-->
<!--          <ul class="list-group">-->
<!--            {% for compilation in my_compilations %}-->
<!--            {% if compilation.resource != Compilation.workspaceFormCreated %}-->
<!--            <li class="list-group-item ml-3">-->
<!--              {{ compilation.name }} (from {{ compilation.resource }}) {% if selected_compilation_id != compilation.id %}-->
<!--              <a type="button" class="btn btn-sm btn-outline-secondary float-right" href="{% url 'workspace' %}?selected_compilation_id={{compilation.id}}">Show</a>-->
<!--              {% endif %}-->
<!--            </li>-->
<!--            {% endif %}-->
<!--            {% endfor %}-->
<!--          </ul>-->
<!--          <hr />-->
<!--          &lt;!&ndash;                                            TODO: Form Create new compilation                 &ndash;&gt;-->
<!--        </div>-->
<!--      </div>-->
