{% extends 'base.html' %} {% load widget_tweaks %} {% block content %}
<div class="col">
    {% for day, events_to_posts in schedule_events.items  %}



    {% endfor %}

    <nav aria-label="...">
        <ul class="pagination">
            {% if schedule_events.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ schedule_events.previous_page_number }}">Previous</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
            {% endif %}

            {% for i in schedule_events.paginator.page_range %}
            {% if i == schedule_events.number %}
            <li class="page-item active"><a class="page-link">{{i}}</a></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
            {% endif %}
            {% endfor %}

            {% if schedule_events.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ schedule_events.next_page_number }}">Next</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>

{% endblock content %}