{% load widget_tweaks %} {% block content %}


<div class="modal fade" id="new_holder_modal" tabindex="-1" role="dialog" aria-labelledby="new_holder_modal_label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Create new compilation</h5>
                <a type="button" class="btn btn-sm btn-light rounded-circle" href="{% url 'downloading_workspace_by_id' workspace_id=workspace.workspace_id %}">X</a>
            </div>

            <div class="modal-body">
                <form enctype="multipart/form-data" method="post"> {% csrf_token %}
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-8 mx-auto">
                                <label for="name">Name:</label>
                                {% render_field compilation_create_form.name class="form-control" value="No named compilation" %}
                                {{ compilation_create_form.name.errors }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="resources">Resource:</label>
                                {% render_field compilation_create_form.resources class="form-control" %}
                                {{ compilation_create_form.resources.errors }}
                            </div>
                            <div class="col-md-6">
                                <label for="posts_per_download">Maximum posts per download:</label>
                                {% render_field compilation_edit_form.posts_per_download class="form-control"%}
                                {{ compilation_edit_form.posts_per_download.errors }}
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-row">
                            <label for="description">Description:</label>
                            {% render_field compilation_create_form.description class="form-control" %}
                            {{ compilation_create_form.description.errors }}
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="float-right">
                            <a class="btn btn-danger" href="{% url 'downloading_workspace_by_id' workspace_id=workspace.workspace_id %}">Close</a>
                            <button class="btn btn-primary " type="submit" name="action" value="create_holder">Create new compilation</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="edit_holder_modal" tabindex="-1" role="dialog" aria-labelledby="edit_holder_modal_label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Edit compilation</h5>
                <a type="button" class="btn btn-sm btn-light rounded-circle" href="{% url 'downloading_workspace_by_id' workspace_id=workspace.workspace_id %}">X</a>
            </div>

            <div class="modal-body">
                <form enctype="multipart/form-data" method="post"> {% csrf_token %}
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="name">Name:</label>
                                {% render_field compilation_edit_form.name class="form-control" value=selected_holder.name %}
                                {{ compilation_edit_form.name.errors }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-4">
                                <label for="whitelisted_blogs">White list of blogs:</label>
                                {% render_field compilation_edit_form.whitelisted_blogs class="form-control" value=selected_holder.whitelisted_blogs %}
                                {{ compilation_edit_form.whitelisted_blogs.errors }}
                            </div>
                            <div class="col-md-4">
                                <label for="whitelisted_blogs">Selected list of blogs:</label>
                                {% render_field compilation_edit_form.selected_blogs class="form-control" value=selected_holder.selected_blogs %}
                                {{ compilation_edit_form.selected_blogs.errors }}
                            </div>
                            <div class="col-md-4">
                                <label for="blacklisted_blogs">Black list of blogs:</label>
                                {% render_field compilation_edit_form.blacklisted_blogs class="form-control" value=selected_holder.blacklisted_blogs %}
                                {{ compilation_edit_form.blacklisted_blogs.errors }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-4">
                                <label for="whitelisted_tags">White list of tags:</label>
                                {% render_field compilation_edit_form.whitelisted_tags class="form-control" value=selected_holder.whitelisted_tags %}
                                {{ compilation_edit_form.whitelisted_tags.errors }}
                            </div>
                            <div class="col-md-4">
                                <label for="whitelisted_tags">Selected list of tags:</label>
                                {% render_field compilation_edit_form.selected_tags class="form-control" value=selected_holder.selected_tags %}
                                {{ compilation_edit_form.selected_tags.errors }}
                            </div>
                            <div class="col-md-4">
                                <label for="blacklisted_tags">White list of tags:</label>
                                {% render_field compilation_edit_form.blacklisted_tags class="form-control" value=selected_holder.blacklisted_tags %}
                                {{ compilation_edit_form.blacklisted_tags.errors }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="resources">Resource:</label>
                                {% render_field compilation_edit_form.resources class="form-control"%}
                                {{ compilation_edit_form.resources.errors }}
                            </div>
                            <div class="col-md-6">
                                <label for="posts_per_download">Maximum posts per download:</label>
                                {% render_field compilation_edit_form.posts_per_download class="form-control"%}
                                {{ compilation_edit_form.posts_per_download.errors }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <label for="description">Description:</label>
                            {% render_field compilation_edit_form.description class="form-control" value=selected_holder.description %}
                            {{ compilation_edit_form.description.errors }}
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="float-right">
                            <a class="btn btn-danger" href="{% url 'downloading_workspace_by_id' workspace_id=workspace.workspace_id %}">Close</a>
                            <button class="btn btn-primary " type="submit" name="action" value="edit_holder">Save changes</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="delete_compilation_modal" tabindex="-1" role="dialog" aria-labelledby="delete_holder_modal_label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete a compilation</h5>
                <a type="button" class="btn btn-sm btn-light rounded-circle" href="{% url 'downloading_workspace_by_id' workspace_id=workspace.workspace_id %}">X</a>
            </div>

            <div class="modal-body">
                <p>Do you really want to delete compilation '{{selected_for_delete_holder.name}}'?</p>
                <form method="post" class="mt-3"> {% csrf_token %}
                    <a class="btn btn-secondary" href="{% url 'downloading_workspace_by_id' workspace_id=workspace.workspace_id %}">No</a>
                    <div class="d-none">
                        {% render_field compilation_delete_form.compilation_holder_id|append_attr:"readonly:readonly" class="form-control" value=selected_for_delete_holder.compilation_holder_id %}
                    </div>
                    <button class="btn btn-danger" type="submit" name="action" value="delete_holder">Yes</button>
                </form>
            </div>
        </div>
    </div>
</div>



<!--                <div class="btn-group-horizontal">-->
<!--                    <select class="form-control-sm">-->
<!--                        {% for r in resources %}-->
<!--                            <option>{{r.0}}</option>-->
<!--                        {% endfor %}-->
<!--                    </select>-->
<!--                </div>-->

{% endblock content %}