{% load widget_tweaks %} {% block content %}



<div class="float-right">
    <a href="#">{{ request.path }}</a>
    {% if "downloading" in request.path %}
        <a type="button" class="btn btn-sm btn-danger rounded-circle" href="{% url 'downloading_workspace_by_id_post_by_id' workspace_id=workspace.workspace_id post_id=post.id %}">X</a>
    {% else %}
        <a type="button" class="btn btn-sm btn-danger rounded-circle" href="{% url 'workspace_by_id_post_by_id' workspace_id=workspace.workspace_id post_id=post.id %}">X</a>
    {% endif %}
    <script>
        {% if selected_post_id != None %}
            $(function() {
              $('#delete_post_modal').modal({show: true});
            });
        {% endif %}
    </script>
</div>


<!-- TODO: make a text foldable-->
<p class="pt-3">{{post.text}}</p>

<!-- TODO: place picture more compact -->
<div class="row">
    {% for pi in post.stored_file_urls %}
        {% if forloop.counter == 1 %}
        <img src="../{{pi}}" class="img-fluid" style="height: 200px; object-fit: contain;" alt="">
        {% else %}
        <div class="col-md-4 col-lg-4 p-2">
            <img src="../{{pi}}" class="img-fluid" style="height: 75px; object-fit: contain;" alt="">
        </div>
        {% endif %}
    {% empty %}
    {% endfor %}
</div>

{% if post.blog_url is not None %}
    <a href="{{post.original_post_url}}" target="_blank">Original post (for debug)</a>
    <!-- TODO: figure out and add other useful information -->
{% endif %}


{% block post_modals %}
{% include 'post_modals.html' %}
{% endblock %}

{% endblock content %}