{% load widget_tweaks %} {% block content %}
{% load static %}

<style>
  .logo {
    padding: 10px;
  }

  .center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
</style>


<div class="row logo">
  <div class="col-md-10 col-lg-10">
    <div>
      <img src="{% static 'GUI_images/LOGO.png' %}"   class="img-fluid" style="height: 40px; object-fit: contain;">
    </div>
  </div>
  <div class="col-md-2 col-lg-2">
    <div class="container center">
      <div class="btn-group btn-group-lg" role="group">
        {% if workspace_id != '' %}
          <button type="button" class="btn-sm btn-outline-dark">
            <a href="{% url 'blogs' workspace_id=workspace.workspace_id %}">Blogs</a>
          </button>
        {% endif %}
        <button type="button" class="btn-sm btn-outline-dark">
          <a href="#">Profile</a>
        </button>
        <button type="button" class="btn-sm btn-outline-dark">
          <a href="{% url 'logout' %}">Log out</a>
        </button>
      </div>
    </div>
  </div>
</div>
{% endblock content %}