{% extends 'base.html' %} {% load widget_tweaks %} {% block content %}
<div class="container">

  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="editworkspace-tab" data-toggle="tab" href="#editworkspace" role="tab" aria-controls="editworkspace" aria-selected="true">Edit</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="compilations-tab" data-toggle="tab" href="#compilations" role="tab" aria-controls="compilations" aria-selected="false">Compilations</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="settingsworkspace-tab" data-toggle="tab" href="#settingsworkspace" role="tab" aria-controls="settingsworkspace" aria-selected="false">Settings</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="createworkspace-tab" data-toggle="tab" href="#createworkspace" role="tab" aria-controls="createworkspace" aria-selected="false">Create</a>
    </li>
  </ul>


  <div class="tab-content" id="myTabContent">


    <div class="tab-pane fade show active" id="editworkspace" role="tabpanel" aria-labelledby="editworkspace-tab">
      <form method="post">

        {% csrf_token %}
        <div class="btn-group">
          <div class="container">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Workspaces
            </button>
            <div class="dropdown-menu">
              {% for ws in my_workspaces %}
              <li class="list-group-item">
                {{ ws.name }}
                {% if selected_workspace_id != ws.workspace_id %}
                <a type="button" class="btn btn-sm btn-primary float-right" href="{% url 'workspace' %}?workspace_id={{ws.workspace_id}}">Show</a>
                {% endif %}
              </li>
              {% endfor %}
            </div>


            {% if workspace != 0 %}
            <button class="btn btn-primary" type="submit" name="action" value="create_post_menu">New post</button>
          </div>
        </div>


        <h4>Adding to the schedule</h4>

        <div class="container">
          <hr>
          <div class="row mt-6 ">
            {% for post in post_list %}
            <div class="col-md-6 card">
              <div class="m-2 ">
                <div class="col mt-6" >
                  <form method="post">
                    {% csrf_token %}
                    <div class="btn-group-md-6" role="group">

                      {% if event_createform != None %}
                      {% render_field event_createform.start_date class="form-control-sm row mt-6" type="datetime-local" %}
                      {{ event_createform.start_date.errors }}


                      {% endif %}
                      <div class="d-none">
                        {% render_field event_createform.post_id|append_attr:"readonly:readonly" class="form-control" id="id_name_event" value=post.id %}
                      </div>
                      <button class="btn-sm btn-primary text-uppercase font-weight-bold mb-1" type="submit" name="action" value="create_event">>></button>



                    </div>



                    <!-- TODO: add proposed time field and showing -->
                    <!-- TODO: add opportunity to change the time -->

                    <!-- TODO: place picture more compact -->

                    <p class="mt-3">{{post.text}}</p>
                    <div class="row">
                      {% for pi in post.stored_file_urls %}
                      {% if forloop.counter == 1 %}
                      <img src="../{{pi}}" class="img-fluid" style="height: 200px; object-fit: contain;" alt="">
                      {% else %}
                      <div class="col-md-4 col-lg-4 p-2">
                        <img src="../{{pi}}" class="img-fluid" style="height: 75px; object-fit: contain;" alt="">
                      </div>
                      {% endif %}
                      {% empty %}
                      {% endfor %}
                    </div>
                  </form>

                  <!-- TODO: make a text foldable-->
                  <!--                                                                <p class="mt-4">Description: '{{post.text}}'</p>-->

                  <a href="{{post.original_post_url}}" target="_blank">Original post (for debug)</a>
                  <!-- TODO: figure out and add other useful information -->
                </div>

              </div>
            </div>
            {% endfor %}
          </div>
          <nav aria-label="...">
            <ul class="pagination">
              {% if post_list.has_previous %}
              <li class="page-item">
                <a class="page-link" href="?page={{ post_list.previous_page_number }}">Previous</a>
              </li>
              {% else %}
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
              </li>
              {% endif %}

              {% for i in post_list.paginator.page_range %}
              {% if i == post_list.number %}
              <li class="page-item active"><a class="page-link">{{i}}</a></li>
              {% else %}
              <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
              {% endif %}
              {% endfor %}

              {% if post_list.has_next %}
              <li class="page-item">
                <a class="page-link" href="?page={{ post_list.next_page_number }}">Next</a>
              </li>
              {% else %}
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
              </li>
              {% endif %}
            </ul>
          </nav>
        </div>


      </form>
      {% endif %}
      </form>
    </div>



    <div class="tab-pane fade" id="compilations" role="tabpanel" aria-labelledby="compilations-tab">
      <div class="row">
        <div class="col">
          <ul class="list-group">
            {% for compilation in my_compilations %}
            {% if compilation.resource != Compilation.workspaceFormCreated %}
            <li class="list-group-item ml-3">
              {{ compilation.name }} (from {{ compilation.resource }}) {% if selected_compilation_id != compilation.id %}
              <a type="button" class="btn btn-sm btn-outline-secondary float-right" href="{% url 'workspace' %}?selected_compilation_id={{compilation.id}}">Show</a>
              {% endif %}
            </li>
            {% endif %}
            {% endfor %}
          </ul>
          <hr />
          <!--                                            TODO: Form Create new compilation                 -->
        </div>
      </div>
    </div>



    <div class="tab-pane fade" id="settingsworkspace" role="tabpanel" aria-labelledby="settingsworkspace-tab">
      <form method="post" class="mt-3">
        {% csrf_token %} {{ settingsform.owner.as_hidden }} {{ settingsform.workspace_id.as_hidden }}
        <div class="form-label-group">
          {% render_field settingsform.workspaces class="form-control" onchange="workspaceChanged()" %} {{ settingsform.workspaces.errors }}
        </div>
        <div class="form-label-group">
          {% render_field settingsform.name class="form-control" %}
          <label for="id_name">Name:</label>
          {{ settingsform.name.errors }}
        </div>
        <div class="form-label-group">
          {% render_field settingsform.visible_for class="form-control" %}
          <label for="id_visible_for">Visible for:</label>
          {{ settingsform.visible_for.errors }}
        </div>
        <div class="form-label-group">
          {% render_field settingsform.editable_by class="form-control" %}
          <label for="id_editable_by">Editable by:</label>
          {{ settingsform.editable_by.errors }} {{ settingsform.errors }}
        </div>
        <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit" name="action" value="edit">Save changes</button>
        <button class="btn btn-lg btn-danger btn-block btn-login text-uppercase font-weight-bold mb-2" type="button" data-toggle="modal" data-target="#deleteModal">Delete workspace</button>
        <div class="modal" tabindex="-1" role="dialog" id="deleteModal">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Delete a workspace</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>Do you really want to delete the workspace?</p>
                <small>All planned posts will also be irrevocably deleted.</small>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button class="btn btn-danger" type="submit" name="action" value="delete">Yes</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>



    <div class="tab-pane fade" id="createworkspace" role="tabpanel" aria-labelledby="createworkspace-tab">
      <form method="post" class="mt-3">
        {% csrf_token %}
        <div class="form-label-group">
          {% render_field createform.name class="form-control" %}
          <label for="id_owner">Name of the workspace</label>
          {{ createform.name.errors }}
        </div>
        <div class="form-label-group">
          {% render_field createform.visible_for class="form-control" %}
          <label for="id_visible_for">Visible for:</label>
          {{ createform.visible_for.errors }}
        </div>
        <div class="form-label-group">
          {% render_field createform.editable_by class="form-control" %}
          <label for="id_editable_by">Editable by:</label>
          {{ createform.editable_by.errors }}
        </div>
        <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit" name="action" value="create">Create</button>
      </form>
    </div>


  </div>


</div>
{% endblock content %}