{% extends 'base.html' %} {% load widget_tweaks %} {% block content %}



<div class="card mb-2">
    <div class="row btn-group" role="group">
        <div class="col align-self-start">
            <form method="post"> {% csrf_token %}
                <div class="btn-group">
                    <!-- TODO: change to form to pass holder_id -->
                    <div class="d-none">
                        {% render_field compilation_get_id_form.compilation_holder_id|append_attr:"readonly:readonly" class="form-control" value=holder.compilation_holder_id %}
                    </div>
                    <button class="btn btn-primary btn-sm" type="submit" name="action" value="copy_posts_to_main_compilation"><< Add all</button>

                    <!-- TODO: create holder_filters_modal -->
                    <a type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#holder_filters_modal">Filters</a>
                    <button type="button" disabled class="btn btn-outline-dark btn-sm">
                        <span class="badge badge-light">{{posts|length}}</span>
                    </button>
                </div>
            </form>
        </div>

        <div class="col align-self-center">
            <div class="row">
                <container class="border border-dark" style="width:fit-content;">
                    {{holder.name}}
                </container>
            </div>
        </div>

        <div class="col col-md-5">
            <form method="post"> {% csrf_token %}
                <div class="row btn-group" role="group">
                    <div class="btn-group-horizontal">
                        <a type="button" class="btn btn-outline-dark btn-sm" href="{% url 'downloading_workspace_by_id_holder_by_id' workspace_id=workspace.workspace_id holder_id=holder.compilation_holder_id %}">Edit</a>
                        <script>
                            {% if selected_holder != None %}
                                $(function() {
                                  $('#edit_holder_modal').modal({show: true});
                                });
                            {% endif %}
                        </script>
                    </div>

                    <div class="btn-group-horizontal">
                        <div class="d-none">
                            {% render_field compilation_get_id_form.compilation_holder_id|append_attr:"readonly:readonly" class="form-control" value=holder.compilation_holder_id %}
                        </div>
                        <button class="btn btn-outline-dark btn-sm" type="submit" name="action" value="download_posts">Download posts</button>
                    </div>

                    <div class="btn-group-vertical">
                        <div class="custom-control custom-switch">
                            <label class="custom-control-label">Autoload</label>
                            <input type="checkbox" class="custom-control-input">
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group-sm">
                            <label>On list</label>
                            <container class="border border-dark" style="width:fit-content;">
                                {{holder.number_on_list}}
                            </container>
                        </div>
                    </div>
                </div>

                <div class="float-right">
                    <a type="button" class="btn btn-sm btn-danger rounded-circle" href="{% url 'downloading_workspace_by_id_holder_by_id_to_delete' workspace_id=workspace.workspace_id holder_id_to_delete=holder.compilation_holder_id %}">X</a>
                    <script>
                        {% if selected_for_delete_holder != None %}
                            $(function() {
                              $('#delete_compilation_modal').modal({show: true});
                            });
                        {% endif %}
                    </script>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        {% for post in posts  %}
            <div class="col-md-4 card">
                <div class="col">
                    <div class="float-right">
                        {% block post_delete_button %}
                        {% include 'post/post_delete_button.html' %}
                        {% endblock %}
                    </div>
                    {% block post_info %}
                    {% include 'post/post_info.html' %}
                    {% endblock %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% block compilation_modals %}
{% include 'holder/holder_modals.html' %}
{% endblock %}

{% endblock content %}
